main{
    color: #AD712A;
    margin-top: 5rem;
    padding: 2rem;
}
body{
    background-color:#102012; 
}

nav>a{
    text-decoration: none;
    color: #FFDBA3;
    font-size: larger;
    display: flex;
    flex-flow: column;
    padding-left: 4rem;
    bottom: 5rem;
    grid-column-start: 2;
    grid-column-end: 3;

}
.match{
    width: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left:1rem;
    padding-top: 5rem;
}
.not{
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: 1fr;
}
.ind{
    left:2rem;
    top:2rem;
    width: 500px;
}
h1{
    grid-row-start: 1;
    grid-row-end: 2;
}
p{
    grid-row-start: 2;
    grid-row-end: 3;
}
.img1{
    margin-left:13rem;
    margin-top:-25rem;
}
.textbox{
    max-width:400px;
    margin-top:3rem;
    margin-left:5rem;
}
.words{
    margin-left: 8rem;
    margin-right:8rem;
    margin-bottom:-30rem;
    background-color: #FFDBA3;
}
@media (min-width:650px){
.img1{
    margin-left:15rem;
    margin-top:-25rem;
}
.textbox{
    margin-left:40rem;
    margin-top:-40rem;
}
.words{
    margin-left:43rem;
    margin-top: -40rem;
    font-size: 25px;
}
.textbox{
    max-width: 500px;
}
}