main{
    color: #AD712A;
    margin-top: 5rem;
    padding: 2rem;
}
body{
    background-color:#102012; 
}
nav>a{
    text-decoration: none;
    color: #FFDBA3;
    font-size: larger;
    display: flex;
    flex-flow: column;
    padding-left: 4rem;
    bottom: 5rem;
    grid-column-start: 2;
    grid-column-end: 3;

}
.match{
    width: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left:1rem;
    padding-top: 5rem;
}
.n{
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: 1fr;
}
.ind{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 500px;
}
h1{
    grid-row-start: 1;
    grid-row-end: 2;
}
.m{
    background-color: #FFDBA3;
    color: #AD712A;
    padding-bottom:1rem; 
    padding-left: 1rem;
}
.kitchen{
    width: 200px;
    padding:2rem;
    border-color: #FFDBA3;
    border-width: 1rem;

    grid-column-start: 2;
    grid-column-end: 3;
    margin-top:-54rem;
    margin-left:10rem;
}
.i{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width:650px){
    .kitchen{
        min-width: 300px;
        margin-top: -35rem;
        margin-left:40rem;
    }
    .m{
        margin-left:10rem;
        margin-top: -20rem;
        padding:5rem;
    }
}