main{
    color: #AD712A;
    margin-top: 5rem;
    padding: 2rem;
}
body{
    background-color:#102012; 
}
.order{
    background-color: #FFDBA3;
    padding-left:2rem;
    padding-right: 2rem;
    padding-bottom: 10rem;
    margin-left:3rem;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 80px 1fr 1fr;
    border: #AD712A;
    border-width: 2rem;
    border-style:groove;
    margin-top:-14rem;
    margin-left:4rem;
}
nav>a{
    text-decoration: none;
    color: #FFDBA3;
    font-size: larger;
    display: flex;
    flex-flow: column;
    padding-left: 4rem;
    bottom: 5rem;
    grid-column-start: 2;
    grid-column-end: 3;

}
.match{
    width: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left:1rem;
    padding-top: 5rem;
}
.n{
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: 1fr;
}
.ind{
    left:2rem;
    top:2rem;
    width: 500px;
}
h1{
    grid-row-start: 1;
    grid-row-end: 2;
}
p{
    grid-row-start: 2;
    grid-row-end: 3;
}
form{
    grid-row-start: 3;
    grid-row-end: 4;
}
@media (min-width:650px){
    .order{
        margin-left:15rem;
        margin-top:-25rem;
        padding-bottom:2rem;
    }
}